<% var title = 'Formulaire login' %>
<% include head %>
<form id="login" method="post" action="/login">
    <h1>LogIn</h1>
    Accés au <a href="/dashboard">profil</a>
    <fieldset id="inputs">
        <p><input id="username" type="text" placeholder="Username" name="username" autofocus required></p>
        <input id="password" type="password" placeholder="Password" name="password" required>
    </fieldset>
    <fieldset id="actions">
        <input type="submit" id="submit" value="Log in">
		<a href="/facebook">Connexion Facebook</a>
        <a href="/register">S'inscrire</a>
    </fieldset>
</form>


<% include foot %>